/*All html files for the project should reference this CSS file*/
header {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 35px;
	background: #333;
}

nav {
	position: absolute;
	top: 35px;
}

section {
	position: absolute;
	top: 88px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 10px;
	overflow-y: auto;
}

header > h1, header > h2 {
	display: inline-block;
	color: #fff;
	font-size: 25px;
	margin: 0px;
	padding: 3px;
}

header > h2 {
	color: #337ab7;
	font-size: 14px;
	font-weight: bold;
}

form > h2 {
	margin: 10px 0px;
	font-weight: bold;
}

tbody {
	height: 500px;
	overflow: auto;
}

.margin-right {
	margin-right: 10px;
}

.margin-left {
	margin-left: 10px;
}

.hidden {
	display: none;
}